* @cloudquery/cq-frontend

# blogs
website/contents/ @nkabardin @yevgenypats
website/public/blog_covers/ @nkabardin @yevgenypats
website/public/imgs/ @nkabardin @yevgenypats

# hub-indexer
backend/ @nkabardin @dj-stormtrooper

# ignored files
.github/.kodiak.toml
