name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: '0/15 * * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v32.174.2
        with:
          configurationFile: .github/self-hosted-renovate.json5
          token: ${{ secrets.GH_CQ_BOT }}
        env:
          LOG_LEVEL: 'debug'
