name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

concurrency:
  group: renovate-main
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v43.0.18
        with:
          renovate-version: "40.22.1"
          configurationFile: .github/self-hosted-renovate.js
          token: ${{ secrets.GH_CQ_BOT }}
        env:
          RENOVATE_GITHUB_ACTOR: ${{ github.actor }}
          RENOVATE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LOG_LEVEL: 'debug'
